<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/boilerplates/rules.css">
    <title>Rock, Paper, Scissors</title>
</head>
<body>
        <article class="game-rules">
            <h2>Rules</h2>
            <p>First to 3 wins the match!</p>
            <img src="/images/image-rules.svg" alt="rules of the game" id="rules-image">
            <a href="/homepage">
                <button id="back-button"><img src="/images/icon-close.svg" alt="closing rules icon"></button>
            </a>       
</body>
</html>
